@import url("https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600&family=Montserrat&display=swap");
*,
html {
  font-size: 62.5;
  width: 100%;
  font-family: "Halant", serif;
  scroll-behavior: smooth;

  /* font-family: "Montserrat", sans-serif; */
}
body {
  margin: 0;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.arrow {
  font-size: 3rem;
  padding: 2rem;
  margin-bottom: 0;
  color: #ff206e;
  transition: all 0.2s ease-in-out;
}
.arrow:hover {
  color: #461220;
}
.top-bar {
  background-color: #ff206e;
  height: 2rem;
  width: 70%;
  left: 30%;
  margin-top: 1rem;
}
.bar-line {
  background-color: black;
  height: 0.2rem;
  width: 100vw;
  transform: translateY(1rem);
}
.container {
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.image {
  padding-top: 2rem;
  width: 30%;
  height: 80%;
  float: left;
  object-fit: cover;
}

.skills-paragraph {
  width: 100%;
  padding-top: 2rem;
  font-size: 1.4rem;
  font-weight: 300;
}
.cv-list {
  list-style-type: none;
  padding-bottom: 4rem;
}
.skills-list-item {
  width: 50%;
  margin: auto;
  padding: 0.3rem;
}
.cv-list-item-bold {
  background-color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
}
span {
  font-weight: 700;
  background-color: #ccc;
  letter-spacing: 0.1rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.paragraph-container-cv {
  padding-top: 2rem;
}
.cv-list-item,
.cv-h3,
.cv-paragraph {
  width: 70%;
  margin: auto;
  padding: 0.3rem;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  text-align: center;
}
.cv-h3 {
  padding-top: 3rem;
  font-size: 1.5rem;
}
.cv-list-item {
  width: 100%;
}
.cv-paragraph {
  margin-bottom: 2rem;
}
.last-line {
  background-color: #461220;
  color: #ffe5ec;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 0.5rem;
}
